main {
  width: 100vw;
  width: calc(100vw - 240px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 20px;
  margin: 0 20px;
  margin-top: 20px;

  section.painel {
    width: 100%;
    height: 80vh;
    background-color: #f4f4f4;

    header {
      background-color: #0063C9;
      text-align: center;
      height: 64px;
      border-radius: 0 0 32px 32px;

      h1 {
        color: #fff;
        font-weight: 700;
        margin-bottom: 0;
      }

      h2 {
        color: #f4f4f4;
        font-size: 0.75rem;
        margin-top: 0;
      }
    }

    div.task-list {
      ul {
        padding: 0;

        li.task {
          display: flex;
          height: 50px;
          background-color: #fff;
          margin-bottom: 4px;
          list-style-type: none;
          padding: 4px 20px 20px 0;
          margin: 4px;

          .task-info {
            display: flex;
            flex-direction: column;

            .title {
              color: #0063C9;
              font-weight: bold;
              font-size: 1.2rem
            }
          }
        }
      }
    }
  }
}

principal-color {
  background-color: #0063C9;
  color: #0063C9;
}
