<main>
  <section class="painel">
    <header>
      <h1> Todo </h1>
      <h2> Items não iniciados </h2>
    </header>
    <div class="task-list">
      <ul>
        <li *ngFor="let task of todos; let index i" class="task">
          <mat-checkbox color="primary" class="example-margin"></mat-checkbox>
          <div class="task-info">
            <span class="title" [ngClass]="{ 'completed': task.completed }"> {{ task.title }} </span>
            <span class="descricao" [ngClass]="{ 'completed': task.completed }"> {{ task.descricao }} </span>
          </div>
          <!-- <div class="button">
            <mat-icon>menu</mat-icon>
          </div> -->
        </li>
      </ul>
      <div>
        <input [(ngModel)]="tituloToDo" type="text" placeholder="Adicionar titulo" />
        <input [(ngModel)]="descricaoToDo" type="text" placeholder="Adicionar descricao" />
        <button (click)="add(tituloToDo, descricaoToDo)"> Adicionar </button>
      </div>
    </div>
  </section>
  <section class="painel">
    <header>
      <h1> In Progress </h1>
      <h2>Isso está sendo trabalhado</h2>
    </header>
    <div class="task-list">
      <ul>
        <li *ngFor="let  task of inprogresses; let index i" class="task">
          <mat-checkbox color="primary" class="example-margin"></mat-checkbox>
          <div class="task-info">
            <span class="title" [ngClass]="{ 'completed': task.completed }"> {{ task.title }} </span>
            <span class="descricao" [ngClass]="{ 'completed': task.completed }"> {{ task.descricao }} </span>
          </div>
          <!-- <div class="button">
            <mat-icon>menu</mat-icon>
          </div> -->
        </li>
      </ul>
      <div>
        <input [(ngModel)]="tituloInProgress" type="text" placeholder="Adicionar titulo" />
        <input [(ngModel)]="descricaoInProgress" type="text" placeholder="Adicionar descricao" />
        <button (click)="add(tituloInProgress, descricaoInProgress)"> Adicionar </button>
      </div>
    </div>
  </section>
  <section class="painel">
    <header>
      <h1> Done </h1>
      <h2> Items completados </h2>
    </header>
    <div class="task-list">
      <ul>
        <li *ngFor="let  task of completeds; let index i" class="task">
          <mat-checkbox color="primary" class="example-margin"></mat-checkbox>
          <div class="task-info">
            <span class="title" [ngClass]="{ 'completed': task.completed }"> {{ task.title }} </span>
            <span class="descricao" [ngClass]="{ 'completed': task.completed }"> {{ task.descricao }} </span>
          </div>
          <!-- <div class="button">
            <mat-icon>menu</mat-icon>
          </div> -->
        </li>
      </ul>
      <div>
        <input [(ngModel)]="tituloCompleted" type="text" placeholder="Adicionar titulo" />
        <input [(ngModel)]="descricaoCompleted" type="text" placeholder="Adicionar descricao" />
        <button (click)="add(tituloCompleted, descricaoCompleted)"> Adicionar </button>
      </div>
    </div>
  </section>
</main>
